:root {
  /* CSS HEX */
  --rose-quartz: #D8E2DC;
  --magnolia: #FFE5D9;
  --thistle: #FFCAD4;
  --lavender-blush: #F4ACB7;
  --battleship-gray: #9D8189;
}
@font-face {
  font-family: "Stalysta"; /* Replace with your font's name */
  src: url("./../assets/fonts/Stalysta.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stalysta", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding-top: 100px;
}
.container {
  width: 100%;
  /* min-height: 600px; */
  color: black;
}

.light {
background-color: white;
  color: var(--battleship-gray);
}

.dark {
  color: var(--magnolia);
  background-color: var(--battleship-gray);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--magnolia);
}
.nav-bar {
  width: 85%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 40px 0;
  height: 100px;
  border-bottom: 1px solid var(--battleship-gray);
  /* border-width: 80%; */
}
.nav-brand {
  font-weight: bolder;
}
.nav-list {
  display: flex;
  align-items: center;
    font-weight: bold;

}
.nav-list li {
  list-style: none;
  padding: 0 20px;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  color: var(--battleship-gray);
  font-size: 1.5rem;
}
.nav-btn {
  color: var(--battleship-gray);
  padding: 10px 30px;
  outline: 0;
  border-radius: 30px;
  font-weight: bold;
  background-color: var(--magnolia);
  cursor: pointer;
  font-size: 1.5rem;
  border: 3px solid var(--battleship-gray);
}
.nav-btn:hover btn-link:hover {
  background-color: (var(--battleship-gray));
  color: var(--magnolia);
  border: 3px solid var(--magnolia);
  /* padding: 10px 30px;
  font-size: 1.5rem;
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
} */
}
.btn-link{
  color: var(--battleship-gray);
  padding: 10px 100px;
  outline: 0;
  border-radius: 30px;
  font-weight: bold;
  background-color: var(--magnolia);
  cursor: pointer;
  font-size: 1.5rem;
  border: 3px solid var(--battleship-gray);
}
.btn-link:hover {
  background-color: var(--battleship-gray);
  color: var(--magnolia);
  border: 3px solid var(--magnolia);
  /* padding: 10px 30px;
  font-size: 1.5rem;
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
} */
}
/* HERO */
.hero {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  background-color: var(--magnolia);
  /* min-height: 600px; */
  color: var(--battleship-gray);
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.col {
  width: 50%;
  display: block;
  margin: auto;
}
.col img {
  width: 68%;
  height: auto;
  display: block;
  margin: auto;
  padding: 16px 0;
  border-radius: 10%;
}
.hero {
  text-align: center;
  padding: 40px;
}
.title {
  font-size: 4.5rem;
  text-align: center;
  /* transition: 2s ease; */
}
h2 {
  font-size: 2.4rem;
  padding: 20px 0;
}
.hero p {
  font-size: 2rem;
  padding: 5px 0;
}
.hero .nav-btn {
  margin: 40px 0;
}

/* OUR STORY */
.our-story {
  padding: 60px 0 60px 0;
}
.our-story .col {
  border: 1px solid var(--battleship-gray);
  padding: 20px;
}
.our-story h2 {
  text-align: center;
  border: 1px solid var(--battleship-gray);
  font-weight: 700;
}
.our-story p {
  font-size: 1.5rem;
  margin-top: 30px;
}
/* COUNTDOWN */
.countdown {
  text-align: center;
}
.countdown h1 {
  font-size: 5rem;
}
.timer {
  padding: 80px 0;
}
.hidden {
  display: none;
}

/* INFO */
.info {
  padding: 30px 0;
  color: var(--magnolia);
  background-color: var(--battleship-gray);
  font-weight: bold;
}
.info h1 {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 4rem;
}
.info p {
  padding: 30px 0;
  font-size: 2rem;
}

.parking {
   padding: 30px 0;
  background-color: var(--magnolia);
  color: var(--battleship-gray);
  font-weight: bold;
  font-size: 2rem;
}
/* rsvp */
.rsvp {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
  padding: 80px 0;
  font-weight: bold;
  /* margin: 30px 0; */
}

.rsvp-form {
  text-align: left;
}
.rsvp-form input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  color: var(--battleship-gray);
}
.rsvp-form select {
  width: 100%;
  padding: 15px;
  margin: 30px 0;
  border-radius: 10px;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  color: var(--battleship-gray);
}
.rsvp h1 {
  margin: 30px 0;
}

.rsvp-form button {
  padding: 10px 40px;
  border-radius: 30px;
  width: 100%;
}
footer h1 {
  text-align: center;
  margin: auto;
  padding: 40px 0;
}
.toggle-menu {
  display: none;
}

@media screen and (max-width: 950px) {
  .toggle-menu {
    display: block;
    color: var(--battleship-gray);
    cursor: pointer;
  }
  .nav-bar {
    position: relative;
  }
  .nav-bar button {
    display: none;
  }
  .nav-list {
    position: absolute;
    top: 100px;
    right: -900px;
    flex-direction: column;
    z-index: 5;
    background-color: var(--magnolia);
    width: 100%;
    /* height: 100vh; */
    transition: 1s ease;
    display: none;
  }
  .open {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: var(--magnolia);
    width: 100%;
    /* height: 100vh; */
    transition: 1s ease;
  }
  li {
    margin: 20px 0;
  }
  .hero h1 {
    margin-top: 20px;
  }
  .row {
    display: block;
    margin: auto;
    text-align: center;
  }
  .col {
    width: 100%;
  }
  .container {
    opacity: 1;
  }
}
